.btn-verification {
    width: 100%;
    padding: 16px 0;

    &:hover {
        background-color: $green;
        color: #ffffff !important;
    }
}

.btn-outline-green:hover {
    background-color: $green;
    color: #ffffff;
}

.material-icons {
    cursor: pointer;
}

hr {
    border-bottom: 1px solid #cdddcd;
}

.modal-body {
    img {
        width: 141px;
        height: 141px;
    }
}

.card {
    border: none;
}
