.navbar{
    padding: 32px;
}

.title{
    margin-right: 46px;
}

.dropdown{
    padding: 0 20px;
    p{
        font-size: 12px;
    }
}

.faq{
    padding: 0 32px;
}

.faq-list{
    max-width: 350px;
    padding: 0;
   
    li{
        padding: 12px;
        border: 1px solid #CDDDCD;
    }

    li:hover{
        background-color: #CDDDCD;
    }

    p{
        font-size: 12px;
    }
}

.card{
    max-width: 584px;
    p,a{
        font-size: 12px;
    }

    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.card-body{
    a{
        text-decoration: none;
        color: #000000;
    }
    a:hover{
        color:$green;
    }
}